include ../partials/tooltip
include ../partials/toggle

mixin prices
  section#prices.prices.section
    .prices__container.section__container.container 
      .prices__top
        h2.prices__title.section__title Стоимость работы
        .prices__info 
          +toggle('На основе фирменного конструктора')
          +tooltip
      ul.prices__list
        -
          const pricesList = [
            {
              class: '',
              name: 'Лендинг',
              list: [
                'Анализ ниши и конкурентов',
                'Прототипирование',
                'Уникальный дизайн',
                'Фронтенд и бэкенд сайта',
                'Подключение домена',
                'Тестирование',
                'Инструкция по работе',
              ],
              payment: 'от 95 000 руб',
              duration: '7-10 дней',
              btn: 'Заказать лендинг',
              type: 'landing'
            },
            {
              class: 'prices__item_gray',
              name: 'Сайт',
              list: [
                'Анализ ниши и конкурентов',
                'Прототипирование',
                'Уникальный дизайн',
                'Фронтенд и бэкенд сайта',
                'Подключение домена',
                'Тестирование',
                'Базовая настройка SEO',
                'Инструкция по работе',
              ],
              payment: 'от 220 000 руб',
              duration: 'от 14 дней',
              btn: 'Заказать сайт',
              type: 'site'
            },
            {
              class: 'prices__item_dark',
              name: 'E-commerce',
              list: [
                'Анализ ниши и конкурентов',
                'Прототипирование',
                'Уникальный дизайн',
                'Фронтенд и бэкенд сайта',
                'Подключение домена',
                'Подключение платежных сервисов',
                'Тестирование',
                'Базовая настройка SEO',
                'Инструкция по работе',
              ],
              payment: 'от 325 000 руб',
              duration: 'от 25 дней',
              btn: 'Заказать интернет-магазин',
              type: 'ecommerce'
            },
          ];
        each service in pricesList
          li.prices__item(class=service.class)
            .prices__item-top
              .prices__name-block
                .prices__name=service.name 
                +tooltip
              ul.prices__benefits 
                each benefit in service.list
                  li.prices__benefits-item 
                    svg.prices__benefits-icon
                      use(xlink:href="./assets/sprite.svg#check")
                    span.prices__benefits-text=benefit
            .prices__item-bottom 
              span.prices__payment=service.payment
              span.prices__duration=service.duration
              button.prices__order.btn(type="button" data-popup-open=service.type)=service.btn
